#root {
  color: red;
}

/* grid idea
display: grid;
grid-gap: 3px;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 40px 40px; */
/* grid-template-columns: repeat(auto-fill, minmax(390px, 1fr)); */

body{
  background-color: #a8adb6;
}

#search {
  display: flex;
  padding: 7px;
  gap: 8px;
  font-size: larger;
  
}
#search-count{
  padding: 10px;
}
input{
  padding: 8px;
}

#allEp {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}


.newDiv {
  margin-top: 20px;
  margin-left: 20px;
  width: 390px;
  height: 490px;
  background-color: #3d5a80;
  color: #cbf5f7;
  border-radius: 3%;
  border: 1px solid #1c2a63;
  box-shadow: 0 14px 40px rgba(0, 0, 0, 0.30), 0 10px 10px rgba(0, 0, 0, 0.42);
}

.newDiv > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  margin: 45px;
}

.newDiv > img {
  margin: 0px 70px;
  border-radius: 3%;
  border: 1.6px solid #bcc3cb;;
}

.newDiv > span{
  display: flex;
  margin: 25px 20px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}



.hide {
  display: none;
}

/* #title {
  width: 330px;
  height: 75px;
  background: #d4d2d1;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#img {
  height: 200px;
  width: 270px;
  background: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#article {
  margin: 35px
} */